body {
    background: #F8F8F8;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-weight: 100;
    margin-bottom: .8em;
}

.selectpicker,
.bootstrap-select {
    width: auto !important;
}

@media (min-width: 768px) {
    .navbar-nav .bootstrap-select {
        padding-top: 7px;
    }
}


@media (max-width: 767px) {
    .content-wrap {
        width: 450px;
        margin:0 auto;
    }
}

@media (max-width: 449px) {
    .content-wrap {
        width: 343px;
        margin:0 auto;
    }
}

.content-wrap {
    min-width: 343px;
}

.chart-container {
  align-items: center;
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

